@model List<Pr_Web_Thanh_Quynh.Models.Blog>

@{
    ViewBag.Title = "Blog";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="blog-post-area">
                    <h2 class="title text-center">Latest From our Blog</h2>
                    @foreach (var blog in Model)
                    {
                        <div class="single-blog-post">
                            <h3>@blog.Title</h3>
                            <div class="post-meta">
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> @blog.CreatedDate</li>
                                </ul>
                            </div>
                            <a href="">
                                <img src="~/Content/images/blog/@blog.ImageUrl" alt="@blog.Title" style="width: 450px; height: 300px">
                            </a>
                            <p>@blog.Content</p>
                            <a class="btn btn-primary" href="@Url.Action("Details", "Blog", new { id = blog.BlogId })">Read More</a>
                        </div>
                    }
                    <div class="pagination-area">
                        <!-- Pagination Links Here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
